.header-banner{
    width: 100%;
    height: 57rem;
    object-fit: cover;
  } 
  
  .overlay-banner{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 57rem;
  }
  
  .img-body-banner{
    width: 100%;
    height: 30rem;
    box-shadow: 0px 0px 5px grey;
    object-fit: cover;
  }
  
  .contract-thumbnail{
    display: flex;
    flex-basis: 33.33%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-evenly;
    border: solid;
    border-color: #ffd000;
  }
  
  .contract-img-thumbnail{
    display: flex;
    flex-basis: 100%;
    box-shadow: 0px 0px 5px grey;
    object-fit: cover;
  }
  
  .project-thumbnail-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .project-thumbnail{
    width: 100%;
    height: 100%;
    padding: 16px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px grey;
    object-fit: cover;
    transition-duration: 0.8s;
  }

  .imageGrid{
    flex-basis: 33.33%;
  }

  .project-thumbnail-name{
    position: absolute;
    text-align: center;
    background-color: transparent;
  }

  .project-overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }

  #project-flower:hover, #project-flower:focus{
    height: 50%;
    color: black;
    background: #ffd000;
  }
  
  #project-bunker:hover, #project-bunker:focus{
    height: 50%;
    display: inline-block;
    background: #ffd000;
  }
  
  #project-hio:hover, #project-hio:focus{
    height: 50%;
    display: inline-block;
    background: #ffd000;
  }